@import './variables'
html,
body
  overflow-x: hidden

body
  background: url('https://64.media.tumblr.com/3dbfdb6f456ac4516dc98c816f7b68dd/tumblr_oie90bVZHT1rrftcdo1_1280.png') repeat top center
  font-family: $roboto

  @media (min-width: $bp-lg)
    padding-top: 0

a
  text-decoration: none

img
  max-width: 100%
